
/* An "element" is selected directly just by writing their names like "element{xxx;}"  */
/* Adding multiple elements to one similar formatting */
h1, h2, h5, article {
    text-align: center;
}
/*Adding a background image to the whole page*/
body{
    background-image:url(/cssentry/images/roberto-nickson-EEiyMPBG3R8-unsplash.jpg);
}


/* To select an "id" we use the # like "#idname{xxxx;}". So now lets style the id="services" element(s) by selecting #services  */
/*Setting the width of the services area to 80% of the parent body and adding antiquewhite background to it after commenting it out on body*/
#services{
    width: 80%;
    background-color: antiquewhite;
    /* Lets center the #services by adding margins*/
    margin-left: auto;
    margin-right: auto;
}


/* Now lets select a "class" by using the format ".classname". lets add a diff section with this */
.services2 {
    width:auto;
    background-color: rgb(255, 243, 230);
    /* Lets center the #services by adding margins*/
    margin-left: auto;
    margin-right: auto;
}

 /* Lets align services to the left and prices to the right */
 .service {
    text-align: left;
 }
 .price{
    text-align: right;
 }

 /* Making paragraphs stay in one line per article and not behave like blocl level elements as they are to take up the whole line*/
 .oneline p {
        display: inline-block
 }